:root{
    --hover-color:#ff9900;
    --text-color:#333;
    --border-color:#cacaca;
    --active-color:#e1670e;
    --outline:2px solid #ff9900;
    --transition-focus:outline .5s ease;
    --transition-fill:fill .5s ease;
    --transition-color:color .5s ease;
    --transition-background: background .5s ease;
    --transition-transform:transform .5s ease;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Regular'),
        url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff'); /* Modern Browsers */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'),
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Regular'),
        url('../fonts/montserrather-v15-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat Regular'),
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
}
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Regular'),
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat Regular'),
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff');/* Modern Browsers */

}
*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    margin: 0px;
    background-color: white;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1800px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*header*/
.header{
    position: relative;
    background-color: white;
    height: 100px;
}
.header__right{
    display: flex;
    align-items: center;
}
.header__container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.header__left{
    display: flex;
    align-items: center;
}
.logo__img{
    margin-bottom: 12px;
    margin-top: 12px;
}
.burger{
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    border:none;
    display: none;
}
.burger-1024{
    display: none;
}
.burger-menu-item{
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}
.burger1{
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 7px;
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.burger2{
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 7px;
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.burger3{
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 7px;
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#burger.open .burger1{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
#burger.open .burger2{
    width: 0%;
  opacity: 0;
}
#burger.open .burger3{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}
.header__list{
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translateX(12px);
}
.header__item{
    margin-right: 85px;
}
.header__item:not(:last-child){
    margin-right: 85px;
}
.header__item-link{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color:var(--text-color);
    transition: border .5s ease;
}
.header__item-link:hover{
    border-bottom: 2px solid var(--hover-color);
}
.header__item-link-color:active{
    border-bottom:2px solid var(--active-color);
    color:var(--active-color);
}
.header__item-link:focus-visible{
    outline: 2px solid #ff9900;
}
.header__nav-bar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header__item-button-search{
    margin-right: 11px;
    border:none;
    background-color: transparent;
}
.header__item-button-search:hover .search circle{
    stroke: var(--hover-color);
}
.header__item-button-search:hover .search rect{
    fill: var(--hover-color);
}
.search:active{
    stroke:var(--active-color);
}
.header__item-button-search:focus-visible{
    outline:2px solid #ff9900;
}
.search{
    margin-bottom: 0px;
    margin-top: 5px;
    transition:stroke .5s ease,fill .5s ease;
}
.header__item-button-search:focus-visible{
    outline:2px solid #ff9900;
}
.burger-menu-list{
    display: none;
}

.hero__content{
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 102px;
    padding-left: 79px;
    padding-bottom: 102px;
}
.swiper-box{
    position: relative;
}
.swiper{
    position:absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    background-size: cover;
    width: 1770px;
    height: 700px;
}
.swiper-pagination-bullet-active {
    background: white;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0px 10px;
    height: 15px;
    width: 15px;
}
.hero__text{
    position: relative;
    z-index: 2;
    max-width: 900px;
}
.hero__heading{
    max-width: 880px;
    margin: 0px;
    margin-bottom: 18px;
    font-weight: 800;
    font-size: 70px;
    line-height: 87px;
    color:white;
}
.hero__desc{
    max-width: 836px;
    /* margin-top: 200px; */
    /* margin: 0px; */
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color:white;
}
.hero__button{
    margin-top: 90px;
    padding: 30px 38px;
    padding-bottom: 30px;
    border:none;
    cursor: pointer;
    font-size: 24px;
    line-height: 21px;
    font-weight: 600;
    color:white;
    pointer-events: auto;
    background-color: var(--hover-color);
    transition: var(--transition-background) ;
}
.hero__button:focus-visible{
    border: none;
    outline: none;
    background: rgba(255, 153, 0, 0.6);
}
.hero__button:hover{
    background: rgba(255, 153, 0, 0.6);
}
.hero__button:active{
    background-color: var(--active-color);
}
/*about*/
.about__heading{
    margin-bottom: 20px;
    margin-top: 100px;
    padding-left: 3px;
    padding-top: 6px;
    font-size: 50px;
    line-height: 59px;
    font-weight: normal;
    color:var(--text-color);
}
.about__cards{
    display: flex;
}
.about__desc{
    max-width: 1235px;
    margin-top: 0px;
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color:var(--text-color); 

}
.about__img{
    background-image:url('../img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    max-width: 870px;
}
.about__img-block{
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 39px;
    padding-left: 54px;
}
.about__img-desc{
    /* width: 520px; */
    margin: 0px;
    padding-bottom: 0px;
    margin-right: 60px;
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 31px;
    font-weight: 700;
    color:white;
    transform: translateY(-2px);
}
.about__img-button{
    padding: 20px 35px;
    margin-right: 26px;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-bottom:18px;
    border:3px solid var(--hover-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:white;
    background-color: transparent;
    transform:translate(-2px, -3px);
    transition: var(--transition-background);
}
.about__img-button:focus-visible{
    outline: none;
    background-color: var(--hover-color);
}
.about__img-button:hover{
    background-color: var(--hover-color);
}
.about__img-button:active{
    background-color: var(--active-color);
}
.about__cards{
    display: flex;
}
.about__img-top{
    display: flex;
    align-items: center;
    max-width: 871px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding-left: 60px;
    padding-top: 67px;
    padding-bottom: 65px;
    padding-right: 118px;
    border:1px solid #CACACA;
}
.about__left{
    flex-basis: 50%;
}
.about__right{
    flex-basis: 50%;
}
/* .about__img-top-first{
    background-image: url('../img/about-top.png');
    background-repeat: no-repeat;
    background-position: 10% center;
    width: 185px;
    height: 145px;
    margin-right: 54px;
    margin-bottom: 17px;
    padding-right: 185px;
} */
.about__img-heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 0px;
}
.about__img-desc-card-top{
    max-width: 462px;
    margin: 0px;
    font-size: 16px;
    line-height: 32px;
    margin-top: 5px;
    color:var(--text-color);
}
.about__img-bottom{
    display: flex;
    align-items: center;
    max-width: 871px;
    margin-left: 0px;
    padding-left: 60px;
    padding-top: 66px;
    padding-bottom: 60px;
    padding-right: 120px;
    border:1px solid #CACACA;
}
.about__img-desc-card-bottom{
    max-width: 450px;
    margin: 0px;
    margin-top: 5px;
    font-size: 17px;
    line-height: 36px;
    color:var(--text-color);
}
.about__img-heading-bottom {
    margin-left: 50px;
    margin-bottom: 10px;
}
.about__img-content{
    margin-left: 50px;
}
.about__img-desc-card-bottom {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 32px;
    transform:translateY(-5px)
}
/* .about__img-bottom-second{
    background-image: url('../img/about-bottom.png');
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: contain;
    width: 452px;
    height: 153px;
    transform:translateY(-19px)
} */
.about__right{
    margin-left: 31px;
}
/*work*/
.main-heading{
    font-weight: normal;
    margin-top: 96px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 59px;
    color:var(--text-color);
}
.section-work__steps{
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.section-work__item{
    margin-top: 38px;
    margin-bottom: 49px;
    font-size: 18px;
    line-height: 22px;
}
.section-work__step-link{
    margin-right: 65px;
    transition: color .5s ease,;
    background-color: transparent;
    border:none;
    font-size: 16px;
    transition: color .5s ease;
}
.section-work__step-link:hover{
    color: #ff9900
}
.section-work__step-link:focus-visible{
    outline: var(--outline);
}
.section-work__step-link-active {
    color:var(--hover-color)
}
.section-work__step-link:not(:first-child){
    margin-left: 20px;
}
.section-work__step-link:hover{
    color:var(--hover-color)
}
.section-work__step-link-last{
    color:var(--text-color);
    transition: color .5s ease;
}
.section-work__step-link-last:hover{
    color:var(--hover-color)
}
.section-work__step-link-third{
    color:var(--text-color);
    transition: color .5s ease;
}
.section-work__step-link-third:hover{
    color:var(--hover-color);
}
.section-work__step-link-second{
    color:var(--text-color);
    transition: color .5s ease;
}
.section-work__step-link-second:hover{
    color:var(--hover-color);
}
.section-work__content{
    /* min-width: 758px; */
    display: flex;
    padding: 0px;
    margin-right: 0px;
}
.section-work__list{
    padding: 0px;
    margin: 0px;
}
.section-work__heading{
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 48px;    
    font-weight: normal;
    line-height: 59px;
    transform: translateX(-1px);
}
.section-work__content-two{
    display: none;
}
.section-work__content{
    display: none;
}
.section-work__content-active{
    display: block; 
}

.section-work__desc{
    /* max-width: 758px; */
    flex-basis: 758px;
    margin-bottom: 9px;
    margin-left: 2px;
    font-size: 16px;
    margin-top: 0px;
    line-height: 32px;
}
.section-work__desc-img{
    display: flex;
    justify-content: space-between;
}
.section-work__consultation{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px; 
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: black;
    transform: translateY(-4px);
}
.section-work__img{
    background-image: url('../img/work-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7px;
    flex-basis: 870px;
    /* margin-left: 142px; */
}
.section-work__img-second{
    background-image: url('../img/tab1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7px;
    flex-basis: 870px;
}
.section-work__img-third{
    background-image: url('../img/tab2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7px;
    flex-basis: 870px;
}
.section-work__img-fourd{
    background-image: url('../img/tab3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7px;
    flex-basis: 870px;
}
.section-work__yellow-button{
    padding: 20px 42px;
    padding-right: 37px;
    padding-left: 40px;
    margin-top: 53px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color:white;
    background-color: var(--hover-color);
    transition: color, background-color .5s ease;
}
.section-work__yellow-button:focus-visible{
    outline: none;
    background: rgba(255, 153, 0, 0.6);
}
.section-work__yellow-button:hover{
    background: rgba(255, 153, 0, 0.6);
}
.section-work__yellow-button:active{
    background-color: var(--active-color);
}
.section-work__yellow-button-list{
    display: inline;
}
.section-work__white-button{
    padding: 20px 42px;
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 17px;
    margin-left: 26px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    background-color: transparent;
    border:1px solid var(--text-color);
    color:var(--text-color);
    transition: color, background-color .5s ease;
}
.section-work__white-button:focus-visible{
    color: white;
    outline: none;
    background-color: #666;
}
.section-work__white-button:hover{
    color:white;
    background-color: #666;
}
.section-work__white-button:active{
    color:white;
    background-color: black;
}
/*quetions*/
.quetions{
    margin-top: 27px;
    padding: 0px;
}
.section-question__heading{
    margin-bottom: 37px;
    margin-top: 100px;
    font-size: 48px;
    font-weight: normal;
    line-height: 59px;
    color:var(--text-color);
}
.quetion-item{
    display: block;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-top:1px solid #cacaca;
    transition: var(--transition-color);
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background:transparent;
    border:none;
}
.quetion__icon{
    transition: var(--transition-transform);
}
.ui-state-active .quetion__icon{
    transform:rotate(45deg);
}
.quetion-item::after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px; 
    background-color:transparent;
    z-index: 1; 
    transition:background-color, .5s ease;
}
.quetion-item:last-child:after{
    background-color: #cacaca;
}
.quetion-item:hover{
    border-color:var(--hover-color);
    color:var(--hover-color)
}
.quetion-item:hover:after{
    background-color: var(--hover-color);
}
.quetion-heading{
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    margin-bottom: 39px;
    margin-left: 4px;
    font-size:24px;
    line-height: 32px;
    font-weight: 700;
    color:var(--text-color);
    transition: color .5s ease;
    height: auto;
}
.ui-accordion .ui-accordion-header{
    display: flex;
}
.ui-icon-triangle-1-s{
    display: none;
}
.ui-icon, .ui-widget-content .ui-icon{
    display: none;
}
.ui-accordion .ui-accordion-content{
    border: none;
    padding: 0px;
    padding-bottom: 30px;
}
.heading-text{
    display: block;
}
.quetion-heading:last-child{
    margin-bottom:50px; 
}
.quetion__icon{
    transition:fill .5s ease, transform .5s ease;
    transform: translateY(-8px);
}
.quetion__icon-circle{
    transition: var(--transition-fill);
}
.quetion__icon-plus{
    transition: var(--transition-fill);
}
.quetion-item:hover path {
    fill:white;
}
.quetion-item:hover .quetion__icon ellipse{
    fill:var(--hover-color);
}
.quetion-item:hover .quetion-heading {
    color:var(--hover-color);
}
.ui-atest-active{
    display: none;
}
.quetion-item__heading-text{
    display: block;
}
.ui-accordion-header-icon .ui-icon .ui-icon-triangle-1-e{
    display: none;
}
.quetion-item__text{
    display: block;
}
.ui-accordion .ui-accordion-header {
    font-size: 24px;
    border: none;
    padding: 40px 0px;
    background-color: transparent;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*footer*/
.footer{
    margin-top: 100px;
    background-color: #222;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}
.footer__left-list{
    padding-left: 0px;
    margin-top: 5px;
}

.footer-logo__img{
    margin-bottom: 11px;
}
.footer__left-item{
    margin-bottom: 14px;
    color:#cacaca;
}
.footer__left-item:nth-child(7){
    margin-bottom: 112px;
}
.footer__left-item-link{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color:#cacaca;
    transition: color .5s ease;
}
.footer__left-item-link:focus-visible{
    outline:1px solid #ff9900;
}
.footer__left-item-link:hover{
    color:var(--hover-color);
}
.footer__left-icons{
    display: flex;
    padding-left: 0px;
    padding-bottom: 80px;
    margin: 0px;
}
.footer__left-icon:not(:last-child){
    margin-right: 25px;
}
.footer__center{
    display: block;
    margin-left: 50px;
}
.footer__heading{
    margin-top: 0px;
    margin-bottom: 24px;
    margin-top: 11px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    color:#cacaca;
    transform: translateX(-2px);
}
.input{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    margin-right: 0px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-right: 24px;
    font-size: 16px;
    border:none;
    background-color: #414141;
    color:#cacaca;
}
.input:focus-visible{
    background:#666;
    outline: none;
}
.input__textarea{
    width: 100%;
    height: 148px;
    margin-bottom: 29px;
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 24px;
    font-size: 16px;
    border:none;
    resize: vertical;
    background-color: #414141;
    color:#cacaca;
}
.input__textarea:focus-visible{
    background:#666;
    outline: none;  
}
.form__bottom{
    display: flex;
    align-items: center;
}
.form-button{
    margin-right: 21px;
    padding: 20px 52px;
    cursor: pointer;
    border:none;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    background-color: var(--hover-color);
    color:white;
    transition:color, background-color .5s ease;
}
.form-button:focus-visible{
    outline: none;
    background: rgba(255, 153, 0, 0.6);
}
.form-button:hover{
    background: rgba(255, 153, 0, 0.6);
}
.form-button:active{
    background-color: var(--active-color);
}
.input-checkbox{
    margin-left: 0px;
    resize: vertical;
}
.input-checkbox:focus-visible{
    outline: 1px solid #ff9900;
}
.input-checkbox-text{
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color:#cacaca;
}
.footer__right-text{
    max-width: 354px;
    padding-top: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color:#cacaca;
}
.icon-facebook{
    transition: fill .5s ease;
}
.icon-facebook:focus-visible{
    outline:1px solid #ff9900;
}
.footer__left-icon-link{
    background: none;
    border:none;
    padding: 0px;
    height: 60px;
    cursor: pointer;
}
.footer__left-icon-link:hover .icon-facebook path{
    fill:var(--hover-color);
}
.icon-vk{
    transition: fill .5s ease;
}
.footer__left-icon-link:hover .icon-vk path{
    fill:var(--hover-color);
}
.footer__left-icon-link:focus-visible{
    outline: 2px solid #ff9900 ;
}
.icon-instagram{
    transition: fill .5s ease;
}
.footer__left-icon-link:hover .icon-instagram path{
    fill:var(--hover-color)
}
@media (max-width:1200px){
    .container{
        max-width: 1200px;
        padding-right: 50px;
        padding-left: 50px;
    }
    .logo__img{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 10px);
    }
    .burger{
        position: absolute;
        display: block;
        top:35px;
        z-index: 10;
    }
    .menu{
        position: absolute;
        z-index: 8;
        top: 0;
        bottom: 0;
        left: 0;
        /* width: 400px; */
        padding: 40px;
        background-color: white;
        transition: transform .3s ease;
        transform:translateX(-101%)
    }
    .menu.is-active{
        position: absolute;
        z-index: 6;
        transform: none;
        background-color: transparent;
    }
    .burger-menu-list{
        position: relative;
        z-index: 3;
        display: block;
        background-color: white;
        padding: 50px;
        margin-top: 60px;
    }
    .burger-menu-item__link{
        color:var(--text-color);
        transition:var(--transition-color);
    }
    .burger-menu-item__link:hover{
        color:var(--hover-color)
    }
    .burger__1024-menu{
        display: block;
    }
    .search{
        position:absolute;
        top: 35px;
        right: 45px;
    }
    .header__list{
        display: none;
    }
    .hero__content{
        padding-top: 160px;
        padding-left: 77px;
        padding-right: 77px;
        padding-bottom: 109px;
    }
    .hero__heading{
        font-size: 58px;
        line-height: 73px;
        font-weight: 800;
        max-width: 674px;
    }
    .hero__desc{
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        max-width: 675px;
    }
    .about__desc{
        max-width: 1200px;
        font-size: 15px;
    }
    .about__cards{
        flex-direction: column;
    }
    .about__right{
        margin-left: 0px;
        margin-top: 32px;
    }
    .about__img{
        min-height: 604px;
        max-width: 1200px;
    }
    .about__img-top{
        max-width: 1200px;
    }
    .about__img-bottom{
        max-width: 1200px;
    }
    .about__img-content{
        margin-left: 50px;
    }
    .section-work__desc{
        /* max-width: 442px; */
        flex-basis: 442px;
    }
    .section-work__img{
        margin-left: 50px;
        flex-basis: 629px;
    }
    .section-work__img-second{
        margin-top: 7px;
        flex-basis: 629px;
    }
    .section-work__img-third{
        margin-top: 7px;
        flex-basis: 629px;
    }
    .section-work__img-fourd{
        margin-top: 7px;
        flex-basis: 629px;
    }
    .footer__right{
        display: none;
    }
    .footer__center{
        margin-left: 50px;
    }
}
@media (max-width:992px){
    .container{
        max-width: 992px;
        padding-right: 50px;
        padding-left: 50px;
        margin:0px
    }
    .header__list{
        display: none;
    }
    .header__right{
        display: flex;
        justify-content: space-between;
    }
    .hero__content{
        padding: 100px 40px;
        padding-right: 15px;
        padding-bottom: 64px;
    }
    .hero__heading{
        font-size: 50px;
        max-width: 590px;
    }
    .hero__button{
        margin-top: 30px;
    }
    .hero__desc{
        font-size: 18px;
        max-width: 577px;
    }
    .hero__text{
        max-width: 600px;
    }
    .about__img {
        max-width: 992px ;
    }
    .about__img-top{
        max-width: 992px;
        padding-left: 40px;
    }
    .about__img-bottom{
        max-width: 992px;
        padding-left: 40px;
    }
    .about__img-content{
        margin-left: 16px;
    }
    .about__img-desc-card-bottom{
        margin: 0px;
    }
    .about__img-content{
        margin-left: 16px;
    }
    .about__img-heading-bottom{
        margin-left: 0px;
    }
    .about__img-content-bottom{
        margin-left: 16px;
    }
    .section-work__img{
        display: flex;
        align-items: flex-start;
        flex-basis: 237px;
        min-height: 284px;
        margin-left: 0px;
        margin-bottom: 38px;
    }
    .section-work__img{
        flex-basis: 237px;
        margin-bottom: 40px;
    }
    .section-work__img-second{
        margin-top: 7px;
        flex-basis: 237px;
        margin-bottom: 40px;
    }
    .section-work__img-third{
        margin-top: 7px;
        flex-basis: 237px;
        margin-bottom: 40px;
    }
    .section-work__img-fourd{
        margin-top: 7px;
        flex-basis: 237px;
        margin-bottom: 40px;
    }
    .section-work__desc{
        flex-basis: 243px;
    }
    .section-work__content{
        flex-direction: column;
    }
    .section-work__steps{
        max-width: 668px;
        justify-content: space-between;
    }
    .section-work__desc-img{
        display: flex;
        flex-direction: column-reverse;
    }
    .quetion-heading{
        font-size: 20px;
        max-width: 570px;
    }
    .quetion-item {
        max-width: 992px;
    }
    .footer__container{
        flex-direction: column-reverse;
    }
    .footer__left-list{
        display: none;
    }
    .footer__left{
        display: flex;
        flex-direction: column;
    }
    .footer-logo__img{
        margin-top: 70px;
    }
    .footer__center{
        flex-direction: row;
        align-items: flex-start;
        margin-left: 0px;
    }
    .footer__left-icons{
        padding-bottom: 50px;
    }
}
@media (max-width:540px) {
    .container{
        max-width: 540px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0px;
    }
    .header__list{
        display: none;
    }
    .search{
        position: absolute;
        top: 32px;
        right: 5px;
    }
    .burger-menu-list{
        transform: translateX(-25px);
    }
    .hero__content{
        padding: 60px 21px;
        margin:0px auto;
        padding-bottom: 73px;
    }
    .hero__heading{
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;
    }
    .hero__desc{
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 31px;
    }
    .hero__button{
        display: flex;
        align-self: center;
        font-size: 12px;
        line-height: 15px;
        padding: 15px 25px;
        margin:0px auto;
    }
    .main-heading{
        font-size: 24px;
        margin-top: 40px;
    }
    .about__desc{
        font-size: 14px;
    }
    .about__img-desc{
        color: var(--text-color);
        margin-right: 0px;
        font-weight: normal;
    }
    .about__img-button{
        color:var(--hover-color);
        transition: var(--transition-color);
    }
    .about__img-button:hover{
        color:white;
    }
    .about__img{
        background-image: none;
        display: block;
        min-height: 100px;
    }
    .about__img-block{
        background: none;
        display: block;
        padding: 0px;
    }
    .about-left320{
        background-image:url('../img/about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    .about__img-top{
        display: flex;
        flex-direction: column;
        border:none;
        padding: 0px;
    }
    .about__img-bottom{
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0px;
    }
    .about-bottom768{
        margin-right: 100px;
    }
    .about__img-heading{
        font-size: 18px;
        font-weight: 500;
    }
    .about__img-content{
        margin-left: 0px;
    }
    .about__img-content-bottom{
        margin-left: 0px;
    }
    .about__img-desc-card-top{
        font-size: 16px;
        font-weight: 400;
    }
    .about-top768{
        margin-right: 100px;
    }
    .section-work__heading{
        font-size: 24px;
    }
    .section-work__white-button{
        margin-top: 15px;
        padding:20px 53px;
        margin-left: 0px;
    }
    .section-question__heading{
        font-size: 24px;
    }
    .quetion-heading{
        font-weight: 500;
    }
    .footer__heading{
        font-size: 24px;
    }
    .form__bottom{
        display: block;
    }
    .form-button{
        margin: 0px auto;
    }
    .input-checkbox-text{
        font-size: 15px;
    }
    .footer-logo__img{
        display: flex;
        margin:auto;
        margin-top: 70px;
        margin-bottom: 23px;
    }
    .footer__left-icons{
        margin: 0 auto;
    }
}